/.idea
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_*.css.map
_*.css
*.log
!/.idea/scopes/
!/.idea/watcherTasks.xml
!/.idea/misc.xml
/.vscode
/.vagrant
composer.lock
package-lock.json
/public/mix-manifest.json
